body div.daterangepicker .calendar-table tbody tr .ends{
    background-color: transparent !important;
    color: #999;
    pointer-events: none;

}
body div.daterangepicker .calendar-table tbody tr .start-date{
  position: relative !important;
}
body div.daterangepicker .calendar-table tbody tr .end-date{
  position: relative !important;
}
body div.daterangepicker .calendar-table tbody tr .off{

}
body div.daterangepicker .calendar-table tbody tr .start-date:after{
   content: ' ';
   position: absolute;
   top:0;
   left:-1px;
   height: 100%;
   width: calc(100% + 1px);
   background-image: url('../shape.svg');
   background-size: contain;
   background-repeat: no-repeat;
}
body div.daterangepicker .calendar-table tbody tr .end-date:after{
   content: ' ';
   position: absolute;
   top:0;
   right:-1px;
   height: 100%;
   width: calc(100% + 1px);
   background-image: url('../shape.svg');
   background-size: contain;
   background-repeat: no-repeat;
   transform: scaleX(-1);
}
div.daterangepicker td.in-range:not(.active,.ends){
  background: black;
  color:white;
}
.option-date{
    background-color: rgba(255, 151, 82, 0.733);
    color: white;
}

.option-date:hover{
  background-color: rgba(255, 151, 82, 0.733);
  color: white;
}

.calendar-guide .clearfix .option::before{
    background-color: rgba(255, 151, 82, 0.733) !important;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

#prices {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}
#prices table, #prices thead, #prices tbody, #prices tr, #prices td, #prices th {
  display: block;
  border: none !important;
}
#prices table {
  border: none !important;
}
#prices table .heavy {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
}
#prices table .per_day_price, #prices table .per_week_price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

#prices tbody tr {
  display: grid;
  padding: 12px;
  padding-bottom: 16px;
}
#prices tbody td {
  font-weight: 300;
}
#prices tbody td p {
  color: #808080;
  margin-top: 10px;
  font-size: 14px;
}
#prices thead tr {
  padding: 10px;
}
#prices thead th {
  display: none;
}
#prices .room_type_selector_container {
  max-width: 300px;
  margin-top: 15px;
}
#prices .room_type_selector_container select {
  width: 100%;
}
#prices .currency_type_selector_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
@media (min-width: 568px) {
  #prices table thead {
    border-bottom: 1px solid #808080;
  }
  #prices table thead th {
    display: inline-block;
    color: #444444;
    text-align: center;
  }
  #prices table td {
    display: inline-block;
  }
  #prices table tr {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
  #prices table .per_day_price, #prices table .per_week_price {
    display: inline;
    text-align: center;
  }
  #prices table .per_day_price span, #prices table .per_week_price span {
    display: none;
  }
  #prices .currency_type_selector_container {
    flex-direction: row;
  }
  #prices .room_type_selector_container {
    grid-column: span 2;
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */