body div.daterangepicker .calendar-table tbody tr .ends{
    background-color: transparent !important;
    color: #999;
    pointer-events: none;

}
body div.daterangepicker .calendar-table tbody tr .start-date{
  position: relative !important;
}
body div.daterangepicker .calendar-table tbody tr .end-date{
  position: relative !important;
}
body div.daterangepicker .calendar-table tbody tr .off{

}
body div.daterangepicker .calendar-table tbody tr .start-date:after{
   content: ' ';
   position: absolute;
   top:0;
   left:-1px;
   height: 100%;
   width: calc(100% + 1px);
   background-image: url('../shape.svg');
   background-size: contain;
   background-repeat: no-repeat;
   border: none !important;
}
body div.daterangepicker .calendar-table tbody tr .end-date:after{
   content: ' ';
   position: absolute;
   top:0;
   right:-1px;
   height: 100%;
   width: calc(100% + 1px);
   background-image: url('../shape.svg');
   background-size: contain;
   background-repeat: no-repeat;
   transform: scaleX(-1);
   border: none !important;
}
div.daterangepicker td.in-range:not(.active,.ends){
  background-color: black !important;
  color:white;
  
}
.daterangepicker .calendar-table td{
  border: none !important;
}
td{
  border: none !important;
}
.option-date{
    background-color: rgba(255, 151, 82, 0.733);
    color: white;
}

.option-date:hover{
  background-color: rgba(255, 151, 82, 0.733);
  color: white;
}

.calendar-guide .clearfix .option::before{
    background-color: rgba(255, 151, 82, 0.733) !important;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

#prices {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}
#prices table, #prices thead, #prices tbody, #prices tr, #prices td, #prices th {
  display: block;
  border: none !important;
}
#prices table {
  border: none !important;
}
#prices table .heavy {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
}
#prices table .per_day_price, #prices table .per_week_price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

#prices tbody tr {
  display: grid;
  padding: 12px;
  padding-bottom: 16px;
}
#prices tbody td {
  font-weight: 300;
}
#prices tbody td p {
  color: #808080;
  margin-top: 10px;
  font-size: 14px;
}
#prices thead tr {
  padding: 10px;
}
#prices thead th {
  display: none;
}
#prices .room_type_selector_container {
  max-width: 300px;
  margin-top: 15px;
}
#prices .room_type_selector_container select {
  width: 100%;
}
#prices .currency_type_selector_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
@media (min-width: 568px) {
  #prices table thead {
    border-bottom: 1px solid #808080;
  }
  #prices table thead th {
    display: inline-block;
    color: #444444;
    text-align: center;
  }
  #prices table td {
    display: inline-block;
  }
  #prices table tr {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
  #prices table .per_day_price, #prices table .per_week_price {
    display: inline;
    text-align: center;
  }
  #prices table .per_day_price span, #prices table .per_week_price span {
    display: none;
  }
  #prices .currency_type_selector_container {
    flex-direction: row;
  }
  #prices .room_type_selector_container {
    grid-column: span 2;
    margin-top: 0px;
  }
}

#page_nav{
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0px;
  background: #f7f7f7;
  z-index: 1000;
  margin-top: 40px;
  overflow:hidden;
}
#page_nav .left, #page_nav .right{
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
}
#page_nav .left{
  left: 0px;
  background: linear-gradient(to right,#f7f7f7,#f7f7f7, transparent );
}
#page_nav .right{
  right:0px;
  background: linear-gradient(to left,#f7f7f7, #f7f7f7, transparent);
}
#page_nav ul{
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
#page_nav ul::-webkit-scrollbar {
  display: none;
}
#page_nav ul li{
  flex-shrink: 0;
  display: block;
}
#page_nav ul li a {
  padding: 20px 10px;
  display: block;
  box-sizing: border-box;
  text-transform: capitalize;
}
#page_nav ul li .active{
  border-bottom: 2px solid black;
}
.shadow{
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.527);
}
html{
  scroll-behavior: smooth;
}

@media(min-width: 1140px){
  #page_nav{
    position: relative;
    box-shadow: none;
    margin-top: 50px;
  }
  .shadow{
    box-shadow: none;
  }
  #page_nav .left, #page_nav .right{
    display: none;
  }
}