body div.daterangepicker .calendar-table tbody tr .ends{
    background-color: transparent !important;
    color: #999;
    pointer-events: none;

}

.option-date{
    background-color: rgba(255, 151, 82, 0.733);
    color: white;
    pointer-events: none;
}