@media (max-width: 420px) {
  #properties-listing .rh_page.rh_page__listing_map {
    display: none;
  }
}

.rh_property__meta.rvr_min_stay {
  display: none;
}

@media (max-width: 767px) {
  .rh_mod_sfoi_form.rh_mod_sfoi_form_rvr {
    width: calc(100% - 120px);
  }
}

.borah_mobile_cols {
  display: flex;
  width: 35%;
}

@media (max-width: 767px) {
  .borah_mobile_cols {
    width: 100%;
  }
}

.SFOI__form.rh_sfoi_advance_search_form.advance-search-form .bs-searchbox {
  display: none;
}

.floating-booking-widget .price {
  color: #192a5f;
}

.floating-booking-widget .price span {
  color: #192a5f;
}

.availability-calendar table tbody tr:last-of-type {
  display: contents !important;
}
