.rvr-booking-cta {
	background-color: var(--rvr-color-primary);
	color: white;
	padding: 10px 15px;
	margin-top: 20px;
	border-radius: 3px;
	max-width: fit-content;
	margin-left: 22px;
	
}

a.rvr-booking-cta:hover {
	color: whitesmoke;
}

.rhr_page_cta-wraper {
	display: flex;
	flex-direction: column;
	column-gap: 10px;
}
@media (max-width: 1024px) {
	.rhr_page_cta-wraper {
		align-items: center;
	}
	.rvr-booking-cta { 
		margin-left: 0px;
	}
}

/* Text states (for js) */
.descHide {
  max-height: 110px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg, #000 40%, transparent);
}


#toggleElement {
	border-bottom: 2px solid rgb(243, 243, 243);
	letter-spacing: 0em;
	font-style: normal;
	text-align: center;
	margin-bottom: 50px;
	padding-bottom: 10px;
}

#toggleElement span {
	cursor: pointer;
}

#contentToggle {
    transition-property: max-height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.accordion-container .accordion-btn{
	display: flex;
	align-items: center;
}
.accordion-container .accordion-content{
	height: 0;
	overflow: hidden;
	transition: height 300ms ease-out;
}
.accordion-container .accordion-btn svg{
	width: 20px; 
	margin-left: 15px;
	stroke-width: 2.5;
}

.floating-booking-widget{
	background: #F7F7F7;
	box-shadow: -5px 0px 10px rgba(128, 128, 128, 0.562);
	padding: 10px 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 9999999999;
	transition: transform 200ms linear;
}

.floating-booking-widget a {
   color:white;
   font-weight: 500;
   text-align: center;
   display: block;
   background: #708670;
   padding: 15px;
   border-radius: 5px;
}
#ht-ctc-chat{
	bottom: 80px !important;
}
@media (min-width: 768px) {
	.floating-booking-widget{
		display: none;
	}
}

@media (min-width: 320px){
.rh_property__features_wrap .rh_property__features {
    flex-direction: row;
}
}